body {
    margin: 0px;
}

main {
    width: 1300px;
    height: 800px;
    background-image: url("/grid.png");
    background-size: cover;
    background-color: rgb(255, 250, 244);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-bar {
    position: relative;
    z-index: 0;
    top: 760px;
    height: 40px;
    background-color: var(--handle-colour);
}

p>code, p>pre {
    font-size: 17px;
    margin: 0px 2px;
}

p {
    line-height: 24px;
}

h3 {
    margin: 20px 0px 0px 0px;
}

h3>code {
    font-size: 20px;
}

.h3-space {
    margin: 60px 0px 0px 0px;
}

ul {
    margin: 10px;
}

li {
    margin: 5px 0px;
}

hr {
    margin: 100px 0px 0px 0px;
}

.spacer {
    margin: 200px 0px 0px 0px;
}

.horizontal-list {
    margin: 0px 0px 0px 30px;
    display: flex;
    gap: 50px;
}





/* BUTTONS */
.reset-btn, .btn-001, .btn-002, .btn-003, .btn-004, .btn-005, .btn-006, .btn-007 {
    all: unset;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    top: 740px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-weight: 600;
}

.reset-btn {left: 1150px;}

/* BUTTON COLOURS */
.btn-001,
.btn-002,
.btn-003,
.btn-004,
.btn-005,
.btn-006,
.btn-007
{
    background-color: var(--handle-colour-dark);
}

.btn-001:hover,
.btn-002:hover,
.btn-003:hover,
.btn-004:hover,
.btn-005:hover,
.btn-006:hover,
.btn-007:hover
{
    background-color: var(--handle-colour-hover);
}

.reset-btn
{
    background-color: #f8c3b5;
}

.reset-btn:hover
{
    background-color: #f8b6a5;
}

/* WINDOW BUTTONS */
.winBtn {position: fixed;}
.btn-001 {left: 20px;}
.btn-004 {left: 90px;}

.btn-003 {left: 200px;}
.btn-002 {left: 430px;}
.btn-007 {left: 585px;}

.btn-005 {left: 850px;}
.btn-006 {left: 975px;}
